<!--
<h1>PlaceBid#home</h1>
<p>Find me in app/views/place_bid/home.html.erb</p>
-->

<head>
  <title>
    New Bid
  </title>
</head>

<body>
  <h1>Current Bid</h1>
  <div class="thumbnail">
   <!--<h4 class="pull-right">$xx</h4>-->
   $xx
  </div>
  <div class="caption">
   <a href="bid.html">Place a new bid</a>
  </div>
</body>
